*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #333;
  color: #000;
}

nav {
  background-color: #fff;
}
nav .navbar-brand {
  font-size: 2.2em;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #666;
}
nav .navbar-brand .around {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ea623d;
  color: #fff;
  border: none;
}
nav .navbar-collapse form button {
  background-color: #fff;
  border: none;
}
nav .navbar-collapse form button i {
  font-size: 1.6em;
  color: #666;
}
nav .navbar-collapse .navbar-nav .nav-item a {
  font-size: 1.6em;
  color: #666;
  margin-right: 15px;
  text-transform: uppercase;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  height: 15vh;
  background-color: #453951;
}
header .header__content {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}
header .header__content--heading {
  font-size: 4em;
  color: #fff;
}
header .header__content--breadcrumb {
  font-size: 1.6em;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
}
header .header__content--breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: #fff;
}

.main {
  background-color: #fff;
}
.main__introduction--img {
  margin: 20px 0 50px;
  background-color: #b1abb6;
  width: 570px;
  height: 327px;
}
.main__introduction__content {
  margin: 20px 0 50px 30px;
}
.main__introduction__content--head {
  color: #414141;
  font-size: 2.4em;
  padding-bottom: 20px;
}
.main__introduction__content--text {
  font-size: 1.6em;
}
.main__services {
  background-color: #f5f5f5;
}
.main__services--top-heading {
  margin-top: 20px;
  text-align: center;
  color: #9f9f9f;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}
.main__services--head {
  margin: 20px 0;
  text-align: center;
  font-size: 4em;
  color: #333;
}
.main__services--text {
  text-align: center;
  font-size: 1.8em;
  color: #666;
}
.main__services__main-box {
  margin: 80px 0;
}
.main__services__main-box__box {
  margin: 20px 0;
}
.main__services__main-box__box__icon-content {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ea623d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  color: #fff;
}
.main__services__main-box__box__box-content {
  margin-left: 10px;
}
.main__services__main-box__box__box-content--title {
  font-size: 2.4em;
}
.main__services__main-box__box__box-content--text {
  font-size: 1.4em;
}

@media (max-width: 576px) {
  header .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
  header .header__content--heading {
    font-size: 4em;
    color: #fff;
    padding-left: 20px;
  }
  header .header__content--breadcrumb {
    font-size: 2.2em;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-right: 200px;
  }
  header .header__content--breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #fff;
  }
  .main {
    background-color: #fff;
  }
  .main__introduction--img {
    margin: 20px 0 50px;
    background-color: #b1abb6;
    width: 400px;
    height: 300px;
  }
  .main__introduction__content {
    margin: 20px 0 20px 0;
  }
  .main__introduction__content--head {
    color: #414141;
    font-size: 3em;
    padding-bottom: 20px;
  }
  .main__introduction__content--text {
    font-size: 1.6em;
  }
}
@media (max-width: 768px) {
  header .header__content--heading {
    font-size: 4em;
    color: #fff;
  }
  header .header__content--breadcrumb {
    font-size: 2.2em;
    background: none;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  header .header__content--breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #fff;
  }
  .main {
    background-color: #fff;
  }
  .main__introduction--img {
    margin: 20px 0 50px;
    background-color: #b1abb6;
    width: 100%;
    height: 327px;
  }
  .main__introduction__content {
    margin: 20px 0 20px 0;
  }
  .main__introduction__content--head {
    color: #414141;
    font-size: 3em;
    padding-bottom: 20px;
  }
  .main__introduction__content--text {
    font-size: 2em;
  }
}/*# sourceMappingURL=style.css.map */