header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: $relway;
	height: 20vh;
	background-color: $purple;
	.header {
		&__content {
			display: flex;
			flex-direction: column;
			align-items: space-around;
			justify-content: center;

			&--heading {
				font-size: 4em;
				color: #fff;
			}

			&--breadcrumb {
				font-size: 2em;
				background: none;
				display: flex;
				flex-direction: column;
				justify-content: end;
				align-items: end;

				.breadcrumb-item {
					a {
						text-decoration: none;
						color: #fff;
					}
				}
			}
		}
	}
}
