@mixin section-title {
	margin-top: 20px;
	text-align: center;
	color: #9f9f9f;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: bold;
}

@mixin section-head {
	margin: 20px 0;
	text-align: center;
	font-size: 5em;
	color: #333;
}
