&__team {
	&--top-heading {
		@include section-title;
	}

	&--head {
		@include section-head;
	}

	&__content {
		&__box {
			&--img {
				width: 85%;
				height: 280px;
				background-color: #b1abb6;
			}

			&__text {
				&--author {
					font-size: 2em;
					font-weight: bold;
					margin: 10px 0;
					color: #333;
				}
				&--position {
					font-size: 1.3em;
					text-transform: uppercase;
					color: #999;
				}

				.single-line {
					width: 85%;
				}
			}

			&--icon {
				font-size: 2em;
				a {
					margin-right: 10px;
					color: #999;
					transition: color 0.5s;
					text-decoration: none;
				}

				a:hover {
					color: #333;
				}
			}
		}
	}
}
